.container__testimonials {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 20px;

  .image__testimonials {
    width: 80%;
    padding: 10px;
    margin-top: 40px;
  }
  .container__text--testimonials {
    padding: 20px;
    font-family: "Teko", sans-serif;
    font-size: 30px;
    .name__testimonial {
      font-size: 45px;
    }
  }
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  background: white;
}

@media screen and (min-width: 420px) {
  .container__testimonials {
    .image__testimonials {
      width: 100%;
    }
    .container__text--testimonials {
      font-size: 40px;
    }
  }
}
@media screen and (min-width: 700px) {
  .container__testimonials {
    .image__testimonials {
      width: 50%;
    }
    .container__text--testimonials {
      font-size: 40px;
    }
  }
}

@media screen and (min-width: 900px) {
  .container__testimonials {
    display: flex;

    .image__testimonials {
      width: 50%;
    }
    .container__text--testimonials {
      font-size: 40px;
    }
  }
}
